{% extends 'sidebar.html' %}

{% block content %}
<main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
  
  <h2>{% block title %} {{ institution['shortname'] }} {% endblock %}</h2>
  <span class="badge badge-primary">{{ institution['shortname'] }}</span>
  <p>{{ institution['shortname'] }}</p>



    <table class="table table-striped">
        <thead>
            <tr>
              <th scope="col">Area</th>
              <th scope="col">Shotname</th>
              <th scope="col">Longname</th>
     
            </tr>
            <tbody>
        {% for institution in institutions %}
        <tr>
            <td>{{ institution['shortname'] }}</td>
            <td>{{ institution['Longname'] }}</td>
        </tr>

        {% endfor %}
    </tbody>
    </table>
  </main>
{% endblock %}