<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <title>{% block title %} {% endblock %}</title>


        <link rel="stylesheet" href="{{ url_for('static', filename= 'css/styles.css') }}">


  
       
        <script type=text/javascript>
          $SCRIPT_ROOT = {{ request.script_root|tojson }};
        </script>

        <script src="{{ url_for('static', filename= 'javascript/scripts.js') }}"></script>
     
        <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>


        <script src="https://unpkg.com/js-year-calendar@latest/dist/js-year-calendar.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://unpkg.com/popper.js@1.14.7/dist/umd/popper.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/js/bootstrap-datepicker.min.js"></script>
       
        
        <link rel="stylesheet" type="text/css" href="https://unpkg.com/js-year-calendar@latest/dist/js-year-calendar.min.css" />
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="https://unpkg.com/bootstrap-datepicker@1.8.0/dist/css/bootstrap-datepicker.standalone.min.css" />


    </head>
        <body>
            <div class="d-flex" id="wrapper">
                <!-- Sidebar-->
                <div class="border-end bg-white" id="sidebar-wrapper">
                    <div class="sidebar-heading border-bottom bg-light">Liverpool Tools</div>
                    <div class="list-group list-group-flush">
                        <a class="list-group-item list-group-item-action list-group-item-light p-3" href="{{ url_for('index') }}">Dashboard</a>
                        <a class="list-group-item list-group-item-action list-group-item-light p-3" href="{{ url_for('institution_index') }}">Institution Overview</a>
                        <a class="list-group-item list-group-item-action list-group-item-light p-3" href="{{ url_for('university') }}">HEI Overview</a>

                        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                            <div class="d-flex w-100 justify-content-between">
                              <h5 class="mb-1">HEI Tools</h5>
                            </div>
                    
                        <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">Input</a>
                        <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">Edit</a>
                        <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">Authorise</a>


                        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                            <div class="d-flex w-100 justify-content-between">
                              <h5 class="mb-1">Clinical Staff Tools</h5>
                            </div>
                    
                        <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">Submit</a>
                        <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">Request Change</a>
                        <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">Overview</a>

                        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                            <div class="d-flex w-100 justify-content-between">
                              <h5 class="mb-1">Profession Body Tools</h5>
                            </div>
                    
                        <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">Overview</a>



                    </div>
                </div>
                
                <!-- Page content wrapper-->
                <div id="page-content-wrapper">
                   
                    <!-- Page content-->
                    <div class="container-fluid">
                        {% block content %} {% endblock %}
                    </div>
                </div>
            </div>
     
    <script>
        feather.replace()
      </script>
  
    </html>
